@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'kanit', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}
#logo {
    color: #ffffff;
}
h1, h2 ,h3 {
    font-family: 'kanit', sans-serif;
}
header {
    background-color: olivedrab;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}
label i {
    color: #fafafa;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none; 
    color: #ffffff;   
}
#menu > li {
    margin-bottom: 1em;
}
.active{
    border-bottom: 1px solid #ffffff;
}
nav {
    position: absolute;
    background-color: olivedrab;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
#nav-toggle {
    display: none;
}
#nav-toggle:checked~nav {
    display: block;
}
.nav-toggle-label {
    font-size: 2rem;
}
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#socials i {
    font-size: 160%;
    padding: 5%;
    color:#ffffff;
}
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: olivedrab;
}
#signup {
    background-image: url(../images/signup.JPG);
    background-size: cover;
    background-position: 85%;
    flex-grow: 1;
}   
#signup-form {
    margin: 15px;
    font-size: larger;
    line-height: 18px;
    text-align: center;
    font-size: 10px;
    color: #fafafa;
}
#contact_info {
    width: 70vw;
}
#hero {  
    background: url(../images/home.jpg)no-repeat center center/cover;
    background-position: 50%;
    height: 600px;
}
#reasons {
    margin: 25px;
    color: olivedrab;
    font-size: larger;
}
#injuries {
    margin: 25px;
    color: olivedrab;
    font-size: larger;
}
#why {
    margin: 25px;
    color: olivedrab;
    font-size: larger;
}
.input {
    background: transparent;
    color: #fafafa;
    border: 3px solid #fafafa;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    margin: 15px 0 15px 0;
    padding: 5px 5px;
    font-size: large;
}
#fname, #lname, #email, #contact_number{
    font-size: large;
    color: white;
}
.join-button {
    margin-top: 20px;
    border-radius:  2px;
    background-color: olivedrab;
    color: #fafafa;
    font-size: 150%;
    padding: 15px 32px;
}
#thank-you {
    background-image: url(../images/thank-you.jpg);
    background-size: cover;
    background-position: 75%;
    flex-grow: 1;
}
#thank-you h1, h3 {
    margin: 20px 10px;
    text-align: center;
    font-size: larger;
    color: #ffffff;
}
@media screen and (min-width: 768px) {
    #signup-form {
        max-width: 100vw;
        font-size: 20px;
        line-height: 62px;
        margin: 20px;
    }
    #reasons, #why {
        font-size: x-large;
    }
    #thank-you h1, h3{
        font-size: xx-large;
        margin: 200px 20px;
    }
    .input {
        height: 35px;
    }
    #fname, #lname, #email, #contact_number{
        font-size: x-large;
    }
    .input:hover {
        border-color: olivedrab;
    }
    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
}
@media screen and (min-width: 1200px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }
    #hero {
        height: 1200px;
    }
    #menu {
        display: flex;
        background-color: olivedrab;
    }
    #reasons {
        display: flex;
        justify-content: space-between;
        text-align: center;
        font-size: xx-large;
    }
    #health_benefits {
        text-align: left;
        width: 40%;
    }
    #social_benefits {
        text-align: center;
        width: 55%;
        margin-left: 15px;
        border-top: 4px solid olive drab;
    }
    #injuries {
        font-size: xx-large;
        text-align: center;
        color: olivedrab;
        border-top: 4px solid olivedrab;
        margin: 20px;
        width: 99%;
        
    }
    #why {
        font-size: xx-large;
        text-align: center;
        padding-bottom: 8px;
        border-bottom: 4px solid olivedrab;
    }
    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }
    #menu a:hover {
        border-bottom: 1px solid #ffffff;
    }
    #fname, #lname, #email, #contact_number{
        font-size: xx-large;
    }
    #signup-form {
        font-size: xx-large;
        max-width: 60vw;
        line-height: 120px;
        justify-content: 
    }
    .input {
        width: 60%;
    }
    .join-button {
        font-size: 100%;
        padding: 10px;
    }
}